<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/blogList.css}">
</head>

<body>
    <header>
        <div class="header-logo"><img th:src="@{/images/logo.png}" alt=""></div>
        <nav>
            <ul class="menu">
                <li class="list_menu" th:text="${accountName}"></li>
                <li class="list_menu"><a th:href="@{/product/blogList}">ホーム</a></li>
                <li class="list_menu"><a th:href="@{/product/register}">ブログ登録</a></li>
                <li class="list_menu"><a th:href="@{/account/logout}">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="all-content">
            <section class="main-visual">
                <h1 class="welcome" th:text="${accountName}"></h1>
                <h1>様、ようこそ！</h1>
            </section>
        </div>
        <article>
            <h2>ブログ記事一覧</h2>
            <hr>
            <ul class="menu">
                <li th:each="blog : ${blogList}">
                    <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
                        <img th:src="@{/product-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
                        <p th:text="${blog.blogTitle}"></p><br>
                        <p th:text="${blog.categoryName}"></p>
                    </a>
                </li>
            </ul>
        </article>
    </main>
    <footer>
        <p class="pc-copyright"> <small>Copyright© 私の技術ブログ. All Rights Reserved.</small></p>
    </footer>
</body>

</html>
