<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ登録画面</title>
    <link rel="stylesheet" th:href="@{/css/blogRegister.css}">
</head>

<body>
    <header>
        <div class="header-logo"><a th:href="@{/product/blogList}"><img th:src="@{/images/logo.png}" alt=""></a></div>
        <nav>
            <ul class="menu">
                <li class="list_menu" th:text="${accountName}"></li>
                <li class="list_menu"><a th:href="@{/product/blogList}">ホーム</a></li>
                <li class="list_menu"><a th:href="@{/product/register}">ブログ登録</a></li>
                <li class="list_menu"><a th:href="@{/account/logout}">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="main-visual">
            <h2>新規記事追加</h2>
        </section>
        <form th:action="@{/product/register/process}" method="post" enctype="multipart/form-data">
            <div class="title">
                <label for="blogTitle">タイトル</label>
				<br>
                <input type="text" id="blogTitle" name="blogTitle" required>
            </div>
            <div class="date">
                <label for="date">日付</label>
				<br>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="register_flex">
                <label for="blogImage">画像</label>
				<br>
                <input type="file" id="blogImage" name="blogImage" required>
            </div>
            <div class="category">
                <label for="categoryName">カテゴリ</label>
				<br>
                <input type="text" id="categoryName" name="categoryName" required>
            </div>
            <div class="ariticle">
                <label for="ariticle">詳細</label>
				<br>
                <textarea name="ariticle" id="ariticle" cols="30" rows="10"></textarea>
            </div>
            <div class="register-section-details_flex">
                <button class="register" type="submit">登録</button>
                <button class="back-btn" onclick="history.back();" type="button">戻す</button>
            </div>
        </form>
    </main>

    <footer>
        <p class="pc-copyright"> <small>Copyright© 私の技術ブログ. All Rights Reserved.</small></p>
    </footer>
</body>

</html>
