<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リスト削除</title>
    <link rel="stylesheet" href="/css/deleteList.css">
</head>
<body>
    <header>
        <div class="header-logo"><img src="./images/logo.png" alt=""></div>
        <nav>
            <ul class="menu">
                <li><a href="">ホーム</a></li>
                <li><a href="">ブログ登録</a></li>
                <li><a href="">リスト削除</a></li>
                <li><a href="">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>記事削除一覧</h2>
            <hr>
            <section class="register-item">
                <div class="all-view-register__button">
                    <a href="/product/register" class="btn btn--orange btn--radius">記事削除</a>
                </div>
            </section>
            <ul class="products">
                <li each="product:${productList}">
                    <a href="/product/edit/{productId}(productId=${product.productId})">
                        <img src="/product-img/{imagePath}(imagePath=${product.productImage})" alt="">
                        <p text="${product.productName}"></p><br>
                        <p text="${product.productCategory}"></p>
                    </a>
                </li>

            </ul>

        </article>
    </main>

    <footer>
        <p class="pc-copyright"> <small>Copyright© 私の技術ブログ. All Rights Reserved.</small></p>
    </footer>
</body>
</html>