<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録完了</title>
    <link rel="stylesheet" href="/css/process.css">
</head>

<body>
    <header>
        <div class="header-logo"><img src="./images/logo.png" alt=""></div>
            <nav>
				<ul class="menu">
				    <li class="list_menu" th:text="${accountName}"></li>
				    <li class="list_menu"><a th:href="@{/product/blogList}">ホーム</a></li>
				    <li class="list_menu"><a th:href="@{/product/register}">ブログ登録</a></li>
				    <li class="list_menu"><a th:href="@{/product/delete}">リスト削除</a></li>
				    <li class="list_menu"><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
            </nav>
    </header>

    <main>
        <section class="main-visual">
            <h2>記事の追加が完了しました。</h2>
        </section>
        <form action="#" method="post">
            <button class="back-btn" type="button" onclick="location.href='/product/blogList'">⇐ホームへ戻す</button>
        </form>
    </main>

    <footer>
        <p class="pc-copyright"> <small>Copyright© 私の技術ブログ. All Rights Reserved.</small></p>
    </footer>
</body>

</html>