<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録画面</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <header>
        <h1>登録画面</h1>
    </header>
    <main>
        <form th:action="@{/account/register/process}" method="post">
            <div>
                <label for="username"></label>
                <input type="text" name="accountName" id="accountName" placeholder="ユーザー名" required>
            </div>
            <div>
                <label for="email"></label>
                <input type="text" name="accountEmail" id="accountEmail" placeholder="メールアドレス" required>
            </div>
            <div>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="パスワード" required>
            </div>
            <button>登録</button>
        </form>
    </main>
    <footer>
        <a th:href="@{/account/login}">戻す</a>
    </footer>
</body>

</html>
