/* トップの選択文字 */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #594a4e;
}

/* ボディ全体的に真ん中 */
body {
    padding-top: 150px;
}

header {
    background-color: #87ceeb;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*ウィンドを基準に画面を固定する*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-logo {
    width: 80px;
    margin-left: 100px;
}

.header-logo img {
    width: 100%;
}

.menu {
    margin-right: 100px;
    display: flex;
    gap: 0 20px;
}

.menu li a {
    font-weight: bold;
}

/* テキストの部分 */
main {
    margin: 0 auto;
    text-align: center;
    background: #76be0aa2;
    width: 70%;
    padding: 20px;
    border-radius: 10px; 
}
.main-visual h2 {
    margin-bottom: 20px;
    color: black;
}

form div {
    margin-bottom: 15px;
}

/* フォーム要素のスタイル */
form input[type="text"],
form input[type="date"],
form input[type="file"],
form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

/* ボタンの部分 */
button {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #87ceeb;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

/* 一番下の部分 */
footer{
    margin-top: 60px;
    background-color: #CCCCCC;
    text-align: center;
    padding: 30px;
}

footer small{
    color: white;
}